HTML/Pr-8/movie.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="movie">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="length" type="xs:string"/>
      <xs:element name="actors" type="xs:integer"/>
      <xs:element name="directors" type="xs:string"/>
      <xs:element name="year" type="xs:integer"/>
      <xs:element name="rating" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>